exportClasses (RedPort,PluginBuilder)

exportMethods (

  calld,
  ping,
  version,
  updateGraph,
  getGraph,
  addGraph,
  addSeries,
  duplicateGraph,
  addSubgraph,
  addSubgraph.list,
  addLegend.color,
  addLegend.size,
  addLegend.shape,
  relax,

  getNodes,
  getNodeIDs,
  addNodes,        
  deleteNodes,     
  nestNodes,     
  nesthc,  
                  
  updateContainerSize,
  mergeOutEdges,
  getContainerComponets,
  mergeNodes,      
                  
  getEdges,
  getEdgeIDs,
  getSourceEdgeIDs,
  getTargetEdgeIDs,
  setArrowDirection,  
  addEdges,               
  deleteEdges,     
  addEdgeBetweenContainers,
                  
  selectEdges,
  selectNodes,
  selectAllEdges,
  selectAllNodes,
  selectGraph,

  deSelectEdges,
  deSelectNodes,
  deSelectGraph,

  deleteSelectedEdges,
  deleteSelectedNodes,
                  
  isDynamicsActive,
  exitd,
  resetd,
  
  submitPlugin,
  deletePlugin,
  updatePlugins,
  dynwin

   )

export(

  RedPort,
  gtoy.rm,
  rederpost,
  rederexpresspost,
  att.setv,
  att.sete,
  att.mapv,
  att.mape,
  subg,
  cea,
  
  PluginBuilder,
  pluginParser

   )

import(igraph)

importFrom(XMLRPC, xml.rpc)

importFrom(XML, newXMLNode, saveXML,xmlParse,xmlValue,xmlChildren)

importFrom(RCurl, postForm, getCurlHandle)





